* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    justify-content: flex-start;
    min-height: 100vh;
    position: relative;
}

.main {
    @include standard-link;

    flex: 1 0 auto;
    margin: auto;
    margin-bottom: 3rem;
    min-height: 90vh;
}

img {
    max-width: 100%;
}

hr {
    border: 2px solid $hr-color;
    width: 50%;
    margin-top: 4.5rem;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    @include link;
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    background-color: $right-dark;
    padding: 0.5rem;
    flex: 0 0 auto;
    width: 100%;
    z-index: 100;

    a {
        color: $right-light;
    }

    p {
        color: $left-light;
    }

    a:hover {
        color: $left-light;
    }

    .social a {
        margin: 0 0.5vw;
        font-size: 2rem;
    }
}

@media (max-width: 767px) {
    .main {
        min-height: 80vh;

        img {
            display: block;
            float: unset;
            width: 80%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

@media (max-width: 400px) {
    .footer {
        height: 11vh;
    }

    .main {
        min-height: 89vh;

        img {
            width: 100%;
        }
    }
}
