.header,
.site-header {
    display: flex;
    position: relative;
}

.header {
    @include link;

    flex: 0 0 auto;
    z-index: 91;

    .nav {
        text-transform: uppercase;
    }

    .nav a:hover {
        color: $nav-a-hover-color;
    }
}

.active {
    text-decoration: overline $right-light;
    text-decoration-thickness: 2px;
}

.site-header {
    width: 100%;
    background-color: $header-background-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo {
        margin-right: 3vw;
    }

    .title {
        margin-right: 2.5vw;
        line-height: $base-line-height * 0.5;
        padding: 2em 1em 1em;
    }

    h1 {
        font-family: $site-header-font;
        margin-top: 0;
        text-shadow: $text-shadow;
        font-size: 10rem;
    }

    p {
        font-style: italic;
        font-size: calc(10rem / ($scale-factor * 2.5));
        margin-top: $magic-number * 2;
        text-align: right;
        font-weight: 400;
    }

    a,
    h1,
    p {
        color: $main;
    }
}

.logo img {
    transform: rotate(-10deg);
    box-shadow: $shadow-right;
    border-radius: 1%;
    filter: $logo-filter;
}

@media (max-width: 1270px) {
    .site-header {
        padding: 3rem;

        h1 {
            font-size: 4.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 767px) {
    .active {
        text-decoration: underline $main;
    }

    .site-header {
        padding: 0;
    }

    .header,
    .site-header {
        height: 100vh;
    }

    .site-header {
        margin-top: 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 70vh auto;
        gap: 0;
        overflow: hidden;

        .logo {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4.5rem;
            margin-right: 3rem;
            display: flex;
            align-items: flex-start;
        }

        .title {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            z-index: 1;

            h1 {
                font-size: 3.75rem;
            }

            p {
                font-size: calc(3.75rem/$magic-number);
            }
        }

        
        .logo img {
            height: 75vh;
            width: auto;
        }

        .scroll-to.hidden {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            color: $main;
            display: flex !important;
            background-color: rgba(0, 0, 0, 0.435);
            padding: 1rem;
            margin-bottom: 1rem;
        }

    }
}

@media (max-width: 400px) {
    .site-header {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 1fr;
        gap: 0;
        overflow: hidden;

        .logo {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            margin: auto;
        }

        .logo img {
            height: 50vh;
            width: auto;
        }

        .scroll-to.hidden {
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            color: $main;
        }

        .title {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            height: 100%;
            z-index: 1;

            a {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            h1,
            h2 {
                margin: unset;
            }

            h1 {
                font-size: 3rem;
            }
        }
    }
}

@media (min-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background-color: $background-color;
        height: 3rem;
    }

    .header {
        box-shadow: $shadow-down;
        max-height: 25rem;
    }

    .logo {
        z-index: 1000;
    }

    .site-header {
        margin-top: 3rem;
    }
}

@media (min-width: 1600px) {
    .site-header {
        padding-left: $magic-number;

        .logo {
            padding: 2em 1em;
        }
    }
}
