.main.home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(3, auto);
    width: 100%;
    padding-bottom: 20vh;
    row-gap: 5%;
    column-gap: 0;
    text-align: left;
    min-height: 90vh;
    padding-left: unset;
    padding-right: unset;

    h1 {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
    }
}

.me-box {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    box-shadow: $shadow-around;

    p {
        margin-bottom: 0;
        text-align: left;
    }

    p,
    li {
        color: $me-box-content-color;
    }

    img {
        margin: 0;
        width: unset;
        max-width: unset;
        height: auto;
        opacity: 0.2;
    }

    ul {
        margin: unset;
        list-style: square outside;
    }

    ul li {
        text-align: left;
        margin-bottom: unset;
    }

    h2,
    h3 {
        margin-top: unset;
        color: $me-box-title-color;
    }
}

.image1,
.image2,
.image3 {
    background-color: $image-background-2;
}

.image1 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    overflow: hidden;

    img {
        position: absolute;
        bottom: -460%;
        right: -30%;
    }
}

.about-me {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    padding: 3em;
}

.image2 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    overflow: hidden;

    img {
        position: absolute;
        bottom: -190%;
        left: -160%;
    }
}

.likes,
.dislikes {
    h3 {
        margin-right: -2em;
        margin-left: -2em;
    }
}

.likes {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    padding: 3em;
    align-items: center;
}

.image3 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    overflow: hidden;

    img {
        position: absolute;
        bottom: -250%;
        left: -90%;
    }
}

.image4 {
    display: none;
}

.dislikes {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    padding: 3em;
    align-items: center;
}

@media (max-width: 950px) {
    .image1 {
        img {
            left: 0;
            bottom: -400%;
        }
    }

    .image3,
    .dislikes {
        grid-column: 1 / span 2;
        grid-row: 4 / span 1;

        h2 {
            display: block;
            word-wrap: unset;
            margin-right: unset;
            margin-left: unset;
        }

        img {
            bottom: -270%;
            left: 0;
        }
    }

    .image2,
    .likes {
        grid-column: 2 / span 2;
        grid-row: 3 / span 1;

        h2 {
            display: block;
            word-wrap: unset;
            margin-right: unset;
            margin-left: unset;
        }

        img {
            left: unset;
            bottom: -400%;
            right: -30%;
        }
    }
}

@media (max-width: 767px) {
    .main.home {
        background-color: $image-background;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, auto);
        row-gap: 0;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 100%;

        h1 {
            margin-top: 3rem;
        }

        h3 {
            margin-left: unset;
            margin-right: unset;
        }
    }

    .me-box {
        max-width: 100%;
        box-shadow: unset;
    }

    .about-me,
    .likes,
    .dislikes {
        padding-top: $magic-number;
        padding-bottom: $magic-number;
        align-items: flex-start;

        ul {
            text-align: left;
        }
    }

    .image4 {
        display: flex;
        grid-column: 1 / span 1;
        grid-row: 1 / span 4;
        overflow: hidden;

        img {
            position: absolute;
            width: 130%;
        }
    }

    .image1,
    .image2,
    .image3 {
        display: none;
    }

    .about-me {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .likes {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }



    .dislikes {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
}

@media (max-width: 400px) {
    .about-me,
    .likes,
    .dislikes {
        padding-left: 1.5em;
        padding-right: 1.5em;
        align-items: flex-start;
    }

    .image4 {
        img {
            width: 250%;
            transform: rotate(-20deg);
            top: 25%;
            left: -40%;
        }
    }
}
