@mixin title {
    font-family: $title-font;
    color: $main;
    margin-bottom: $magic-number;
}

@mixin subtitle {
    @include title;
    margin-top: $magic-number * 2;
    @media (max-width: 767px) {
        margin-top: $magic-number * $scale-factor-small;
        // margin-bottom: $magic-number * 0.5;
        line-height: $magic-number * 0.75;
    }
}

@mixin link {
    font-family: $main-font;
    color: $font-color;
    
    a {
        text-decoration: none;
        color: $font-color;
    }
}

@mixin standard-link {
    a {
        color: $left-light;
    }

    a:visited {
        color: $right-dark;
    }
    
    a:hover,
    a:focus {
        color: $main;
    }
}

