.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav {
    z-index: 100;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
    align-items: center;
    margin-bottom: unset;
    padding: 0;
}


.nav ul li {
    padding: 0 1em;
    margin-bottom: unset;
}

.nav a,
.nav-toggle {
    color: #333;
}

.nav-toggle {
    display: none;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .nav {
        z-index: 140 !important;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
        justify-content: space-around;
        width: 100%;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: $background-color;
    }

    .nav-toggle,
    .nav-toggle i {
        color: $main;
    }


    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 150;
    }
}

@media (min-width: 768px) {
    .nav {
        box-shadow: $shadow-down;
    }
}
