.tech-container {
    display: grid;
    padding-top: 1rem;
    gap: 1rem;
    margin: 0 auto;
    max-width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10rem repeat(5, 10rem);

    a {
        text-decoration: none;
    }

    h1 {
        padding: unset;
        margin: unset;
        font-weight: 600;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 6rem;
        font-weight: bold;
        letter-spacing: 2rem;
        margin-right: -1rem;
        margin-left: 1rem;
    }
    
    h2 {
        font-size: 6rem;
        margin: 0;
        padding: 0 1rem;
        width: 100%;
        height: 100%;
        margin-bottom: unset;
    }

    .technologies h1::after {
        border-bottom: unset;
    }
}

.tech-box {
    padding: 0;
    background-color: $background-alternative-color;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-box:hover {
    opacity: 1;
}

.css h2,
.python h2,
.sqlite h2 {
    color: $font-alternative-color;
}



.technologies {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    background-color: $font-alternative-color !important;
    opacity: 1 !important;
}

.javascript {
    grid-column: 1 / span 3;
    grid-row: 5 / span 1;
    letter-spacing: 1rem;
    margin-right: -1rem;
}

.git {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;

    h2 {
        font-size: 12rem;
    }
}

.sqlite {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    letter-spacing: 1rem;
    margin-right: -1rem;

    h2 {
        font-size: 6rem;
    }
}

.php {
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
    letter-spacing: 1rem;
    margin-right: -1rem;
}

.python {
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
    letter-spacing: 1rem;
    margin-right: -1rem;
}


.html {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;

    h2 {
        font-size: 12rem;
    }
}



.css {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    
    h2 {
        font-size: 6rem;
    }
    
}

@media (hover: none) {
    .tech-box:focus {
        opacity: 1;
    }
}

@media (max-width: 1350px) {
    .tech-container {
        grid-template-rows: 9rem repeat(5, 6rem);

        h1 {
            font-size: 6rem;
            letter-spacing: 0;
            margin: 0;
        }
    }

    .tech-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .css {
        h2 {
            font-size: 4rem;
        }
    }

    .html {
        h2 {
            font-size: 6rem;
        }
    }

    .git {
        h2 {
            font-size: 8rem;
        }
    }

    .sqlite {
        h2 {
            font-size: 4rem;
        }
    }

    .javascript {
        h2 {
            font-size: 4rem;
        }
    }

    .python {
        h2 {
            font-size: 4rem;
        }
    }

    .php {
        h2 {
            font-size: 4rem;
        }
    }
}

@media (max-width: 767px) {
    .tech-container {
        height: auto;
        width: 100vw;
        max-width: 100%;
        margin: unset;
        padding: unset;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 0.1rem;

        h1,
        h2 {
            all: unset;
            letter-spacing: normal;
            font-family: $main-font;
            color: $font-color;
            font-size: 3rem;
        }

        h1 {
            font-weight: 600;
        }

        .technologies,
        .javascript,
        .python,
        .sqlite,
        .html,
        .php,
        .css,
        .git {
            grid-column: unset;
            grid-row: unset;
            letter-spacing: unset;
            margin-right: unset;
        }


        .tech-box {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                display: block;
                text-align: center;
                width: 100%;
            }
        }

        .technologies {
            background: $font-color !important;

            h1 {
                color: $accent-color;
            }
        }
    }

    // .tech-container {
    //     all: unset;
    //     width: 100vw;
    //     padding: 0;
    //     margin: 0;
    //     display: flex;
    //     flex-direction: column;

    //     h1,
    //     h2 {
    //         all: unset;
    //         letter-spacing: normal;
    //         font-family: $main-font;
    //         color: $font-color;
    //         font-size: 3rem;
    //     }

    //     h1 {
    //         font-weight: 600;

    //     }

    // }

    // .technologies {
    //     order: 1;
    // }

    // .javascript {
    //     order: 2;
    // }

    // .python {
    //     order: 3;
    // }

    // .sqlite {
    //     order: 4;
    // }

    // .html {
    //     order: 5;
    // }

    // .php {
    //     order: 6;
    // }

    // .css {
    //     order: 7;
    // }

    // .git {
    //     order: 8;
    // }


    // .tech-box {
    //     height: 5rem;
    //     margin-top: 0.1rem;
    //     margin-top: 0.1rem;

    //     a {
    //         display: block;
    //         width: 100%;
    //     }

    //     h2 {
    //         align-self: center;
    //     }
    // }

    // .technologies {
    //     background: $font-color !important;

    //     h1 {
    //         color: $accent-color;
    //     }
    // }
}

@media (min-width: 1600px) {
    .tech-container {
        grid-template-rows: 14rem repeat(5, 10rem);
    }

    .technologies {
        h1 {
            font-size: 8rem;
        }
    }

    .css {
        h2 {
            font-size: 6rem;
        }
    }

    .html {
        h2 {
            font-size: 14rem;
        }
    }

    .git {
        h2 {
            font-size: 12rem;
        }
    }

    .sqlite {
        h2 {
            font-size: 6rem;
        }
    }

    .javascript {
        h2 {
            font-size: 6rem;
        }
    }

    .python {
        h2 {
            font-size: 6rem;
        }
    }

    .php {
        h2 {
            font-size: 6rem;
        }
    }
}







